* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 75px;
    display: flex;
    box-shadow: 0 5px 0px #fff;
}
.logo-img {
    height: 70px;
    width: 300px;
}
header ul li {
    position: relative;
    float: left;
}
header ul li a {
    padding: 15px;
    color: white;
    font-size: 35px;
    display: block;
    font-family: 'Audiowide';
}
header ul li a:hover {
    color:rgb(220, 220, 220);
}
body {
    text-align: center;
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-size: cover;
}
.runal2024now {
    margin-top: 100px;
    padding: 10px;
}
h4 {
    font-size: 42px;
    color: #fff;
    font-family: 'Audiowide';
}
.runalbegin {
    margin-top: 10px;
    padding: 10px;
}
.lunar {
    margin-top: 10px;
    padding: 10px;
}
.my-fan-arts {
    margin-top: 10px;
    padding: 10px;
}
.sketch {
    margin-top: 10px;
    padding: 10px;
}
.brotherrunal {
    margin-top: 10px;
    padding: 10px;
}
.other {
    margin-top: 10px;
    padding: 10px;
}
.pre-fan-arts {
    margin-top: 10px;
    padding: 10px;
}