* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 75px;
    display: flex;
    box-shadow: 0 5px 0px #fff;
}
.logo-img {
    height: 70px;
    width: 300px;
}
header ul li {
    position: relative;
    float: left;
}
header ul li a {
    padding: 15px;
    color: white;
    font-size: 35px;
    display: block;
    font-family: 'Audiowide';
}
header ul li a:hover {
    color:rgb(220, 220, 220);
}
body {
    text-align: center;
    background-color: rgb(20, 20, 20);
}
.block {
    width: 1200px;
    height: 600px;
    padding: 20px;
    background-color: black;
    border: 4px, solid, #fff;
    margin: auto;
    margin-top: 100px;
    text-align: left;
}
h1 {
    color: #fff;
    font-size: 47px;
    font-family: 'Audiowide';
}
p {
    color: #fff;
    font-size: 27px;
    font-family: 'Audiowide';
}
.description {
    margin-top: 10px;
}
.mone {
    color: #dadada;
    font-size: 27px;
    font-family: 'Audiowide';
}
.mone:hover {
    color: #fff;
}
.warning {
    margin-top: 10px;
}
.picture {
    width: 400px;
    border: 4px solid #fff;
    float: right;
}