* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 75px;
    display: flex;
    box-shadow: 0 5px 0px #fff;
}
.logo-img {
    height: 70px;
    width: 300px;
}
header ul li {
    position: relative;
    float: left;
}
header ul li a {
    padding: 15px;
    color: white;
    font-size: 35px;
    display: block;
    font-family: 'Audiowide';
}
header ul li a:hover {
    color:rgb(220, 220, 220);
}
body {
    text-align: center;
    background-image: url(img/rrrrrr.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.description-about-me {
    color: #fff;
    font-size: 27px;
    padding: 20px;
    margin-left: 400px;
    font-family: sans-serif;
}
.block {
    width: 1400px;
    height: 880px;
    padding: 10px;
    background-color: black;
    border: 4px, solid, #fff;
    margin: auto;
    margin-top: 100px;
    text-align: right;
}
.picture {
    width: 300px;
    float: left;
    margin-top: -190px;
    padding: 20px;
}
.type {
    color: #fff;
    font-size: 27px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 400px;
    font-family: sans-serif;
}
.my-info {
    color: #fff;
    font-size: 27px;
    padding: 20px;
    margin-top: -3px;
    margin-left: 400px;
    font-family: sans-serif;
}
.pi {
    color: #fff;
    font-size: 42px;
    padding: 20px;
    margin-top: -10px;
    font-family: sans-serif;
}
.i {
    color: #fff;
    font-size: 27px;
    padding: 20px;
    margin-top: -20px;
    margin-left: 500px;
    font-family: sans-serif;
}
.ii {
    color: #fff;
    font-size: 27px;
    padding: 20px;
    margin-top: -20px;
    font-family: sans-serif;
}
.msm {
    color: #fff;
    font-size: 42px;
    padding: 20px;
    margin-top: -10px;
    font-family: sans-serif;
}
.netone {
    width: 100px;
    border: 1px, solid, #fff;
}
.nettwo {
    width: 100px;
    border: 1px, solid, #fff;
}
.center {
    text-align: center;
}
.data {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Audiowide';
    margin-top: 20px;
}